<div class="card text-center">
  <div class="card-header">
    About Us
  </div>
  <div class="card-body">
    <h5 class="card-title">Contect Us</h5>
    <p class="card-text">Any quries or concerns, contact us on (abc@gmail.com)</p>
    <%= link_to 'See More Friends', friends_path, class:"btn btn-success" %>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>